# Local developer configuration
Directory.Build.props
dotnet-tools.json

# Build output
bin/
obj/

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo


# Logs / releases
*.log
release/

# OS
.DS_Store
Thumbs.db
Desktop.ini

#zip
*.zip icon-original.png
icon-original.png
*.zip

#test
/tests/
